.App {
    text-align: center;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(62, 68, 68);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 40px;
}

#cart-bar {
    position: sticky;
    background-color: rgb(153, 153, 156);
    top: 0;
    font-size: 20px;
    display: flex;
    justify-content: right;
    height: 50px;
    align-items: center;
    gap: 20px;
}

#cart-btn {
    height: 25px;
    font-size: 20px;
    margin-right: 30px;
}

.item-img {
    width: 600px;
    height: 600px;
}

.item {
    width: 700px;
    background-color: rgb(201, 201, 206);
}

#items-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.item-title {
    font-size: 30px;
}

form {
    font-size: 20px;
}

input {
    font-size: 20px;
}

.plus,
.minus {
    height: 30px;
    width: 30px;
}

button {
    font-size: 20px;
}

#checkout {
    height: 500px;
    width: 400px;
    background-color: rgb(201, 201, 206);
    position: absolute;
    right: 0px;
}

#pay-btn {
    position: absolute;
    bottom: 10px;
}

#checkout-items {
    font-size: 30px;
}
