.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(62, 68, 68);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#cart-bar {
    position: sticky;
    background-color: rgb(153, 153, 156);
    top: 0;
    font-size: 20px;
    display: flex;
    justify-content: right;
    height: 50px;
    align-items: center;
    gap: 20px;
}

button {
    height: 25px;
    font-size: 20px;
}

#items-section {
    height: 3000px;
}